img#cernlogo {
filter: drop-shadow(3px 2px 12px #58838c);
padding-top: 10px;
padding-left: 5px;
position: -webkit-sticky; /* Necessary for Safari in order for sticky position to work */
position: sticky;
z-index: 100;
}

h2 {
text-align: center;
-moz-animation-name: titlespin; /* Animation doesn't work on Safari, so it is only applied to Firefox */
-moz-animation-duration: 5s;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;
position: relative;
z-index: -1;
}


body {
background-image: linear-gradient(rgba(177, 206, 212, 0.6), rgba(68, 105, 113, 0.7)), url("clouds.jpg");
background-size: 4000px 4000px;
font-family: 'Gill Sans', sans-serif;
}

#plainbody { /* plainbody = "everything except header/footer in body" */
margin: 100px;
}

.title {
font-family: tahoma, sans-serif;
}


footer {
background-image: linear-gradient(#105158, #103d41);
color: #658e97
}

header {
background-image: linear-gradient(to right, #2c5b63, #0f3239);
background-position: 100%;
border-radius: 0 0 10px 10px;
box-shadow: 5px 5px 8px #0f3239 inset;
height: 80px;
position: -webkit-sticky; /* Necessary for Safari */
position: sticky; 
top: 0;
}

.learnmore {
color: #05292e;
}

a {
color: #7bb6c4
}

#footerhr {
background-color: #316d73;
border-color: #316d73;
height: 4px;
}

#marquee { /* Note: sometimes the marquee text will not be in the right spot (outside the header). It sometimes appears, but I'm not sure what's causing it */
animation-name: marquee;
animation-duration: 25s;
animation-iteration-count: infinite;
animation-timing-function: linear;
color: rgb(125, 167, 175);
font-family:'Gill Sans', sans-serif;
position: fixed;
padding-top:30px;
}

@-moz-keyframes titlespin { /* Only applies to Firefox */
0% {-moz-transform: rotateY(0deg);}
50% {-moz-transform: rotateY(180deg);}
100% {-moz-transform: rotateY(0deg);}
}

@keyframes marquee {
0% {transform: translateX(-200%)}
100% {transform: translateX(300%)}
}
